@import 'styles';
@import 'reset';

*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    font-size: 15px;
    color: $VeryLightGray;

    @media screen and (max-width: 1024px){ height: 100%; padding: 2rem 0;}

    main{
        width: 90%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        div.cards{
            display: flex;          
            justify-content: center;  
            
            @media screen and (max-width: 1024px){ flex-direction: column;}
            
                div.card{
                    width: 15rem;
                    height: 24rem;
                    padding: 2rem;

                    @media screen and (max-width: 1024px){ width: 13rem; }

                    &:first-child{
                        border-top-left-radius: $borderRadius;
                        border-bottom-left-radius: $borderRadius;

                        @media screen and (max-width: 1024px){ border-radius: 0px; border-top-left-radius: $borderRadius;  border-top-right-radius: $borderRadius;} 
                    }

                    &:last-child{
                        border-top-right-radius: $borderRadius;
                        border-bottom-right-radius: $borderRadius;

                        @media screen and (max-width: 1024px){ border-radius: 0px; border-bottom-left-radius: $borderRadius;  border-bottom-right-radius: $borderRadius;} 
                    }
    
                    img{
                        margin: 1rem 0;
                    }
    
                    h1.title{
                        text-transform: uppercase;
                        font-family: $BigShouldersDisplay;
                        font-size: 2rem;
                        margin: 1rem 0;
                        color: $VeryLightGray;
                    }
    
                    p.desc{
                        font-family: $LexendDeca;
                        margin: 2rem 0rem 1rem;
                        font-weight: 200!important;
                        color: $TransparentWhite;
                        height: 7rem;
                        line-height: 23px;
                    }
    
                    button{
                        margin: 2rem 0;
                        padding: .7rem 2rem;
                        border-radius: 20px;
                        background-color: $VeryLightGray;
                        outline: none;
                        border: none;
                        font-family: $LexendDeca;
                        transition: 0.3s;
                        border: 2px solid $TransparentWhite;

                        &:hover{
                            cursor: pointer;
                            transition: 0.3s;
                            background-color: transparent;
                            color: $TransparentWhite;
                            border: 2px solid $TransparentWhite;
                        }
                    }
                }    

            
            .sedans{
               background: $BrightOrange;

               button{
                   color: $BrightOrange;
               }
            }

            .suvs{
                background: $DarkCyan;

                button{
                    color: $DarkCyan;
                }
            }

            .luxury{
                background: $VeryDarkCyan;

                button{
                    color: $VeryDarkCyan;
                }
            }
        }
    }

    footer{
        color: black;
    }
}